{% load staticfiles %}
<html>
	<head>
		<title>Blog Test</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
	<body>

		<div class="page-header"> 
			{% if user.is_authenticated %}
				<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			{% endif %}
			<h1><a href="http://pydog.pythonanywhere.com/"><span class="glyphicon glyphicon-home"></span></a> Blog Test made with Python </h1> 
			<h6><a href="http://www.nicolasolazzo.com/">blog site by Nicola Solazzo</a></h6>
			<p> visit my
				<a href="https://github.com/niksolaz">
					GitHub
				</a>
			</p>
			<p> visit my
				<a href="https://it.linkedin.com/in/nicolasolazzo">
					Linkedin
				</a>
			</p>
		</div>
		
		<div class="content container">
		    <div class="row">
		        <div class="col-md-8">
		            {% block content %}
		            {% endblock %}
		        </div>
		    </div>
		</div>
	</body>
</html>